* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #494eea;
}

.input-box {
  width: 90%;
  max-width: 500px;
  margin: 250px auto;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;

}

.input-box input {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 24px;
  padding: 10px;
}

.input-box img {
  width: 35px;
  cursor: pointer;
}